@font-face {
  font-family: "MaisonNeueBook";
  src: url("/font/MaisonNeueBook.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Feijoa";
  src: url("/font/FeijoaDisplay.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Italiana";
  src: url("/font/ItalianaRegular.ttf");
}


.container{
    height: 100px;
    padding: 0px 50px;
    background-color: #f2efe5;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;

    font-family: "Italiana", sans-serif !important;
}


.texts{
    margin-left: 20px;
    color: #201817;
}

.text:first-child{
    font-size: 12px;
    font-weight: 500;
}

.text:last-child{
    font-size: 20px;
    font-weight: bold;
}


.list{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: #201817;
}

.listItem{
    margin: 20px;
    font-weight: bold;
}

.logo{
    margin: 20px;
}

.cart{
    position: relative;
}


.counter{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #201817;
}
