:root {
  --color-white-smoke: #f5f6f7;
  --color-lavender: #d2e0fd;
  --color-white: white;
}

@font-face {
  font-family: AvantGardeStd;
  src: url('./fonts/AvantGardeStd.TTF');
}

@font-face {
  font-family: AvantGardeBold;
  src: url('./fonts/AvantGardeStdBold.TTF');
}

@font-face {
  font-family: AvantGardeItalicBlod;
  src: url('./fonts/AvantGardeItalicBold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: AvantGardeStd, AvantGardeBold, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
