:root {
  --tertiary--color: #102a42;
}

@font-face {
  font-family: PTSansRegular;
  src: url('fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: PTSansRegularItalic;
  src: url('fonts/PTSans-Italic.ttf');
}

@font-face {
  font-family: PTSansBold;
  src: url('fonts/PTSans-Bold.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.sightseeing,
.tours,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.sightseeing {
  /*!background-image: url('/images/img-2.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--tertiary--color);
  font-size: 100px;
}

.tours {
  /*background-image: url('/images/img-1.jpg');*/
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: var(--tertiary--color);
  font-size: 100px;
}

.sign-up {
  /*background-image: url('/images/img-8.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--tertiary--color);
  font-size: 100px;
}
