:root {
  --color-white: #fefefe;
  --color-white-smoke: #f5f6f7;
  --color-primary: #d2e0fd;
  --color-primary-light: #859ed1;
  --color-primary-dark: #36385b;

  --color-secondary: #a4002b;

  --transition: all 0.3s linear;
  --spacing: 0.3rem;
  --light-shadow: 2px 5px 3px 0px rgba(210, 224, 253, 0.5);
  --dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --border-radius: 0.25rem;
  --small-width: 85vw;
  --max-width: 40rem;
  --medium-width: 25rem;
  --full-width: 1170px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-primary-dark);
  background: var(--color-white);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}

img {
  width: 100%;
  display: block;
}

/* NAVBAR COMPONENT  */

.navbar {
  background: var(--color-white);
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: var(--light-shadow);
}

.navbar__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--small-width);
  margin: 0 auto;
  max-width: var(--max-width);
}

.logo {
  width: 12rem;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--transition);
}

.nav__links a:hover {
  color: var(--color-primary);
}

/* ABOUT US PAGE */

.section {
  padding: 3rem 0;
}

.about__section {
  width: var(--small-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.section__title {
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: left;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--color-primary-light);
}

.about__section-photo img {
  padding: 1rem;
  margin: 0 auto;
  width: 70%;
  height: 70%;
}

.section__paragraph {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-indent: 50px;
}

/* ERROR PAGE */

.error__page {
  display: flex;
  justify-content: center;
}

.error__container {
  text-align: center;
}

.error__container h1 {
  text-transform: capitalize;
  color: var(--color-primary-light);
}

.error__container-paragraph {
  margin: 0 auto;
  max-width: 50vw;
}

.error__container-paragraph h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.9px;
}

/* BUTTONS */

.btn__primary {
  font-weight: 400;
  background: transparent;
  letter-spacing: 0.9px;
  color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--transition);
  cursor: pointer;
  border-radius: var(--border-radius);
  display: inline-block;
}

.btn__primary:hover {
  border-color: transparent;
  background: var(--color-primary-light);
  color: var(--color-white);
}

.btn__details {
  padding: 0.25rem 0.4rem;
}

.btn__details:hover {
  background: var(--color-primary-dark);
  color: var(--color-white);
}

/* COCKTAILS LIST */

.cocktails__section {
  padding: 5rem 0;
}
.cocktails__section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.cocktails__center {
  width: var(--small-width);
  margin: 0 auto;
  max-width: var(--max-width);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}

@media screen and (min-width: 576px) {
  .cocktails__center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

/* COCKTAILS COMPONENT*/

.cocktail {
  background: var(--color-white);
  margin-bottom: 2rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--border-radius);
}

.cocktail:hover {
  box-shadow: var(--dark-shadow);
}

.cocktail__img-container img {
  height: 20rem;
  object-fit: cover;
  padding: 2rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.cocktail__footer {
  padding: 1.5rem;
}

.cocktail__footer h3,
.cocktail__footer h4,
.cocktail__footer p {
  margin-bottom: 0.3rem;
}
.cocktail__footer h3 {
  font-size: 2rem;
}
.cocktail__footer p {
  color: var(--color-primary-dark);
  margin-bottom: 0.5rem;
}

/* SEARCH COMPONENT */

.search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.section__form {
  width: var(--small-width);
  margin: 0 auto;
  max-width: var(--max-width);
  background: var(--color-white);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--border-radius);
  box-shadow: var(--light-shadow);
}

.form__control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--color-primary-dark);
}

.form__control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: inherit;
}

.form__control input:focus {
  outline: none;
}

/* LOADER COMPONENT */
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--color-primary-light);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* SINGLE COCKTAIL SECTION */

.section__single-cocktail {
  padding: 1rem 1rem;
  margin: 1rem auto;
  width: var(--small-width);
  background: var(--color-white-smoke);
  border-radius: var(--border-radius);
}

.title__single-cocktail {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.single-cocktail__section {
  text-align: center;
}

.drink {
  width: var(--small-width);
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: left;
}

.drink__img {
  border-radius: var(--border-radius);
  width: 80%;
  margin: 0 auto;
}

.drink p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8;
  font-family: Roboto;
}

.drink span {
  margin-right: 0.5rem;
}

.drink__info {
  padding-top: 2rem;
}

.drink__data {
  background: var(--color-primary);
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  text-transform: capitalize;

  border-radius: var(--border-radius);
  color: var(--color-primary-dark);
}

@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }

  .drink__info {
    padding-top: 0;
  }
}
