:root {
  --primary--color: #fff;
  --secondary--color: #000;
}

@font-face {
  font-family: PTSansRegular;
  src: url('../fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: PTSansRegularItalic;
  src: url('../fonts/PTSans-Italic.ttf');
}

@font-face {
  font-family: PTSansBold;
  src: url('../fonts/PTSans-Bold.ttf');
}

.hero-container {
  background: url('../images/hero_image.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-title {
  color: var(--primary--color);
  font-size: 100px;
  text-transform: uppercase;
  font-family: PTSansBold;
}

.hero-paragraph {
  font-family: PTSansRegularItalic;
  color: var(--primary--color);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 8px;
  font-size: 26px;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

@media screen and (max-width: 960px) {
  .hero-title {
    font-size: 70px;
  }

  .hero-paragraph {
    letter-spacing: 1px;
    margin-top: 6px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 50px;
  }

  .hero-paragraph {
    letter-spacing: 1px;
    margin-top: 4px;
    font-size: 16px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
