/*
==========
Variables
https://www.uidesigndaily.com/posts/sketch-social-platform-components-media-list-tags-details-day-1311
https://www.uidesigndaily.com/posts/studio-stock-website-components-dropdown-card-link-search-input-text-day-1314
https://www.uidesigndaily.com/posts/sketch-modal-discount-day-1061
https://www.uidesigndaily.com/posts/sketch-birthdays-list-card-widget-day-1042


==========
*/

:root {
  --clr-primary: ;
}
