:root {
  --clr-primary: #4a4040;
  --clr-primary-2: #36385b;
  --clr-secondary: #f5f6f7;
  --clr-tertiary: #ea794c;
  --clr-black: #222;
  --clr-white: #fff;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  background: var(--clr-secondary);
  color: var(--clr-primary-2);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-primary-2);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* 
====================
Global Classes
====================
*/

section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  section {
    width: 95vw;
  }
}

/*
=============== 
Home
===============
*/

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-tertiary);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.btn__modal {
  text-transform: uppercase;
  background: var(--clr-tertiary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 0.5rem;
}

.btn__modal:hover {
  color: var(--clr-tertiary);
  background-color: #ea794c2d;
}

/* 
====================
Modal
====================
*/

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}

/* OPEN - CLOSE MODAL*/
.show__modal {
  visibility: visible;
  z-index: 10;
}

.modal__container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--max-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.btn__close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-tertiary);
  cursor: pointer;
}
/* 
====================
Sidebar
====================
*/

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.btn__sidebar-close {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-tertiary);
  transition: var(--transition);
  cursor: pointer;
  margin-top: 0.2rem;
}

.btn__sidebar-close:hover {
  color: var(--clr-primary-2);
}

.sidebar__logo {
  justify-self: center;
  height: 40px;
}

.sidebar__links a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-primary);
  transition: var(--transition);
  letter-spacing: var(--spacing);
}

.sidebar__links a:hover {
  font-size: 1.45rem;
  color: var(--clr-tertiary);
}

.sidebar__links a svg {
  font-size: 1.5rem;
  color: var(--clr-tertiary);
  margin-right: 1rem;
  transition: var(--transition);
}

.sidebar__links a:hover svg {
  color: var(--clr-primary-2);
}

.sidebar_social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}

.sidebar_social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-tertiary);
  transition: var(--transition);
}

.sidebar_social-icons a:hover {
  color: var(--clr-primary-2);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-primary);
  transition: var(--transition);
  transform: translate(-100%);
}

.show__sidebar {
  transform: translate(0);
}

@media screen and (min-wdith: 676px) {
  .sidebar {
    width: 400px;
  }
}
