/*
============
VARIABLES
============
*/

:root {
  --clr-primary-1: #dddddd;
  --clr-primary-2: #cccccc;
  --clr-primary-3: #bbbbbb;
  --clr-primary-4: #777777;
  --clr-primary-5: #999999;
  --clr-tertiary-1: #122231;
  --clr-tertiary-2: #00003b;

  --clr-white: #fff;
  --clr-black: #000000;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Didot;
  src: url('./fonts/Didot\ Bold.otf');
}

@font-face {
  font-family: DidotBold;
  src: url('./fonts/Didot\ Bold.otf');
}

@font-face {
  font-family: DidotTitle;
  src: url('./fonts/Didot\ Title.otf');
}

body {
  background: var(--clr-white);
  color: var(--clr-black);
  font-family: Didot;
  line-height: 1.5;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-tertiary);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Global Classes
===============
*/

.catalog__section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 4rem;
}

.catalog__brand-logo {
  width: 30%;
  height: 90px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .catalog__section {
    width: 95vw;
  }
}

/*
======
Catalog
======
*/

.catalog__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 10rem;
  height: 0.25rem;
  background: var(--clr-black);
  margin-right: auto;
  margin-left: auto;
}

.catalog__center {
  width: 90vw;
  margin-bottom: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.catalog__item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

.catalog__item-img {
  object-fit: cover;
  height: 400px;
  width: 100%;
  display: block;
}

.catalog__item-details {
  max-width: 10rem;
}

.catalog__item-header {
  display: flex;
  justify-content: space-between;
}

.catalog__item-header h4 {
  margin-bottom: 0.5rem;
  font-family: DidotTitle;
  font-size: 1.5rem;
}

.catalog__item-price {
  color: var(--clr-black);
  font-family: DidotBold;
  padding-left: 2rem;
}

.catalog__item-text {
  margin-bottom: 0;
  padding-top: 1rem;
  text-transform: uppercase;
  font-family: Didot;
}

@media screen and (min-width: 1200px) {
  .catalog__item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }

  .catalog__item-img {
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .catalog__center {
    width: 80vw;
    /*grid-template-columns: 1fr 1fr;*/
  }

  .catalog__item-img {
    height: 175px;
  }
}

/*
==========
Buttons
==========
*/

.btn__container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.category__filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: Didot;
  text-transform: uppercase;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.275rem 0.75rem;
  color: var(--clr-black);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}

.category__filter-btn:hover {
  color: var(--clr-primary-4);
}
