:root {
  --color-primary: #ea794c;
  --color-primary-light: #f3652da8;

  --color-secondary: #333333;
  --color-white: #ffffff;
  --color-black: #000000;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

@font-face {
  font-family: PoppinsBold;
  src: url(/src/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(/src/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(/src/fonts/Poppins-Regular.ttf);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
