:root {
  --color-primary: #ea794c;
  --color-primary-light: #f3652da8;

  --color-secondary: #333333;
  --color-tertiary: #4ca709;
  --color-white: #ffffff;
  --color-white-smoke: #f5f6f7;
  --color-black: #000000;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --radius-2: 20px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --min-width: 85vw;
  --fixed-width: 620px;
}

@font-face {
  font-family: PoppinsBold;
  src: url(/src/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(/src/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(/src/fonts/Poppins-Regular.ttf);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: PoppinsRegular;
  background: var(--color-white-smoke);
  color: var(--color-secondary);
  font-size: 0.875rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--color-secondary);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* NAVBAR COMPONENT*/
.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.nav__center {
  width: 90vw;
  max-width: var(--max-width);
}

.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: none;
}

.btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--color-secondary);
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.main__section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./images/Frame1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.main__section {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.main__center {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  align-items: center;
}

.main__info {
  margin-top: 4.5rem;
}

.main__info h1 {
  text-transform: none;
  max-width: 500px;
  font-size: 3rem;
  margin-bottom: 2px;
  font-family: PoppinsBold;
  color: var(--color-primary);
}

.main__info h2 {
  text-transform: none;
  font-size: 1.8rem;
  max-width: 15em;
  margin-bottom: 1rem;
  font-family: PoppinsMedium;
  color: var(--color-secondary);
}

.main__info p {
  text-transform: none;
  line-height: 1.8;
  font-size: 1rem;
  max-width: 25em;
  margin-bottom: 2px;
  font-family: PoppinsRegular;
  color: var(--color-secondary);
}

.btn__main {
  font-size: 1rem;
  margin-top: 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: PoppinsBold;
  padding: 1rem 2rem;
  border-radius: var(--radius-2);
  border: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.btn__main:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

@media screen and (max-width: 1000px) {
  .main__info {
    position: relative;
    left: 0;
  }

  .main__info h1 {
    text-transform: none;
    max-width: 500px;
    margin-bottom: 2px;
    font-family: PoppinsBold;
    font-family: 2rem;
    color: var(--color-primary);
  }

  .main__info h2 {
    text-transform: none;
    font-family: 1.5rem;
    max-width: 500px;
    margin-bottom: 1rem;
    font-family: PoppinsMedium;
    color: var(--color-secondary);
  }

  .main__info p {
    text-transform: none;
    line-height: 1.8;
    max-width: 25em;
    font-family: 0.85rem;
    margin-bottom: 2px;
    font-family: PoppinsRegular;
    color: var(--color-secondary);
  }

  .btn__main {
    font-size: 1rem;
    margin-top: 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: PoppinsBold;
    padding: 0.85rem 1rem;
    border-radius: var(--radius-2);
    border: transparent;
    cursor: pointer;
    transition: var(--transition);
  }
}

@media screen and (min-width: 800px) {
  .nav__center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .nav__links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }

  .nav__links li {
    height: 100%;
  }

  .toggle__btn {
    display: none;
  }

  .btn__signin {
    display: inline-block;
  }

  .btn__link {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: var(--color-secondary);
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .main__center {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding-bottom: 6vh;
  }

  .main__info h1 {
    max-width: 100%;
    font-size: 3rem;
  }
}

@media screen and (min-width: 1400px) {
  .main__center {
    padding-bottom: 20vh;
  }
}

/* SIDEBAR COMPONENT */

.sidebar__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.sidebar__wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}

.sidebar {
  width: 90vw;
  height: 95vh;
  max-width: var(--fixed-width);
  background-color: var(--color-white-smoke);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 4rem 2rem;
}

.close__btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--color-secondary);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.sidebar__article {
  margin-bottom: 2rem;
}

.sidebar__sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}

.sidebar__sublinks a {
  display: block;
  color: var(--color-secondary);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-family: PoppinsRegular;
}

.sidebar__sublinks svg {
  color: var(--color-primary);
  margin-right: 1rem;
  font-size: 1.8rem;
}

@media screen and (min-width: 800px) {
  .sidebar__wrapper {
    display: none;
  }
}

/* SUBMENU COMPONENT */

.submenu {
  background: var(--color-white-smoke);
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--color-white-smoke);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.submenu.show {
  display: block;
}

.submenu__center {
  display: grid;
  gap: 0.25rem 1rem;
}

.column-2 {
  grid-template-columns: repeat(2, 1fr);
}
.column-3 {
  grid-template-columns: repeat(3, 1fr);
}
.column-4 {
  grid-template-columns: repeat(4, 1fr);
}

.submenu__heading {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
}

.submenu__center-links {
  width: 8rem;
  display: block;
  font-size: 0.7rem;
  color: var(--color-secondary);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.submenu__center svg {
  color: var(--color-primary);
  margin-right: 0.8rem;
}

/* MENU COMPONENT */

.menu__section {
  width: 90vw;
  margin: 0 auto;
  padding: 4rem;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .menu__section {
    width: 95vw;
  }
}

.menu__section-title h2 {
  text-align: center;
  font-family: PoppinsBold;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.menu__underline {
  width: 10rem;
  height: 0.3rem;
  background: var(--color-secondary);
  margin-left: auto;
  margin-right: auto;
}

.section__center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu__item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

.menu__item-photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: var(--radius);
  display: block;
}

.menu__item-info {
  max-width: 10rem;
}

.menu__item-header {
  display: flex;
  justify-content: space-between;
}

.heading__title {
  color: var(--color-secondary);
  font-family: PoppinsMedium;
  margin-bottom: 0.5rem;
}

.heading__price {
  color: var(--color-primary);
  font-family: PoppinsBold;
  margin-bottom: 0.5rem;
}

.item__description {
  font-family: PoppinsRegular;
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu__item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }

  .menu__item-photo {
    height: 150px;
    object-fit: contain;
  }
}

@media screen and (min-width: 1200px) {
  .section__center {
    width: 80vw;
    grid-template-columns: 1fr 1fr;
  }
  .menu__item-photo {
    height: 130px;
    object-fit: contain;
  }
}

/* MENU BUTTONS */

.buttons_container {
  margin-bottom: 4rem;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
}

.category__button {
  background: transparent;
  border: transparent;
  font-family: PoppinsRegular;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  transition: var(--transition);
  border-radius: var(--radius);
}

.category__button:hover {
  color: var(--color-white);
  background-color: var(--color-secondary);
}

/* LOADING COMPONENT */
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--color-primary);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* Search Home PAGE*/

.search__section {
  margin-top: 1rem;
  padding-bottom: 0;
  padding: 3rem 0;
}

.search__form {
  width: var(--min-width);
  margin: 0 auto;
  max-width: var(--max-width);
  background: var(--color-white-smoke);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.search__control label {
  display: block;
  font-family: PoppinsBold;
  margin-bottom: 1.25rem;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  color: var(--color-primary);
}

.search__control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background-color: var(--color-white);
  border-radius: var(--radius);
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: PoppinsRegular;
}

.search__control input:focus {
  outline: none;
}

/* MENU LIST COMPONENT */

.menulist__section {
}

.menulist__title {
  text-align: center;
  font-family: PoppinsBold;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.menulist__center {
}

.menulist__subtitle {
  text-transform: none;
  font-size: 1.8rem;
  max-width: 15em;
  margin-bottom: 1rem;
  font-family: PoppinsMedium;
  color: var(--color-secondary);
}
