:root {
  --color-primary: #ea794c;
  --color-primary-light: #f3652da8;

  --color-secondary: #333333;
  --color-white: #ffffff;
  --color-white-smoke: #f5f6f7;
  --color-black: #000000;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --radius-2: 50%;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

@font-face {
  font-family: PoppinsBold;
  src: url(/src/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(/src/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(/src/fonts/Poppins-Regular.ttf);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: PoppinsRegular;
  background: var(--color-white-smoke);
  color: var(--color-secondary);
  font-size: 0.875rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--color-secondary);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* NAVBAR COMPONENT*/
.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.nav__center {
  width: 90vw;
  max-width: var(--max-width);
}

.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: none;
}

.btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--color-secondary);
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.main__section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./images/Frame1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.main__section {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.main__center {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  align-items: center;
}

.main__info {
  position: relative;
  left: -5rem;
}

.main__info h1 {
  text-transform: none;
  max-width: 500px;
  margin-bottom: 2px;
  font-family: PoppinsBold;
  color: var(--color-primary);
}

.main__info h2 {
  text-transform: none;
  max-width: 500px;
  margin-bottom: 1rem;
  font-family: PoppinsMedium;
  color: var(--color-secondary);
}

.main__info p {
  text-transform: none;
  line-height: 1.8;
  max-width: 25em;
  margin-bottom: 2px;
  font-family: PoppinsRegular;
  color: var(--color-secondary);
}

.btn__main {
  font-size: 1rem;
  margin-top: 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: PoppinsBold;
  padding: 1rem 2rem;
  border-radius: var(--radius-2);
  border: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.btn__main:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

@media screen and (min-width: 800px) {
  .nav__center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .nav__links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }

  .nav__links li {
    height: 100%;
  }

  .toggle__btn {
    display: none;
  }

  .btn__signin {
    display: inline-block;
  }

  .btn__link {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: var(--color-secondary);
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
    cursor: pointer;
  }
}
